@media (max-width:670px) {

    .container {
        margin: 0 auto;
        padding: 1rem;
        display: block;
        gap: 1rem;
    }

    .nav-container {
        max-width: 1200px;
        margin: 0 auto;
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }
    
    .logo {
        font-size: 1.5rem;
        color: white;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    .nav-links a{
        font-size: 1rem;
    }

    .hero-container {
        display: block;
    }

    .hero-left {
        text-align: center;
    }

    .hero-right{
        text-align: center;
        padding-left: 0;
    }


    .-image img{
        width: 100%;
    }

    .-image{
        width: 48%;
        font-size: 12px;
    }
    

}